body{
    font-family: monospace;
    margin: unset;
}
/* HEADER */
.header{
    height: 80px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(39, 39, 39);
}
.header__name{
    margin-right: 10px;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}
.header__menu{
    margin-left: 10px;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header__menu__item{
	text-decoration: none;
	display: inline-block;
	padding: 16px;
	color: #f9f9f9;
	/* font-size: 15px; */
}
.header__menu__item:hover{
    background-color: rgba(238, 130, 238, 0.479);
}

/* SOBRE MI */

.sobremi{
    display: flex;
    justify-content: space-between;
    height: 500px;
    box-sizing: border-box;
    background-color: aqua;
}
.sobremi__izq{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}
.sobremi__der{
    background-color: greenyellow;
}
.sobremi__izq__img{
    border-radius: 50%;
    width: 200px;
    height: auto;
}
.sobremi__izq__iconos{
    text-decoration: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sobremi__izq__iconos__icono{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sobremi__izq__iconos__icono{
    color: white;
    background-color: black;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.sobremi__izq__iconos__icono span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 5px;
    font-size: 9px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}