/* ESTAS VARIABLES SE CAMBIAN CON LA FUNCION CHANGE_THEME EN JS */
:root { 
    --theme-color: rgb(84, 204, 198);
    --theme-color-shadows: rgb(48, 117, 114);
    --theme-color-clear: rgb(196, 247, 244);
    --theme-color-dark: rgb(0, 107, 100);
    --dark: rgb(39, 39, 39);
    --clean: white;
    --theme-color-hover: rgb(77, 185, 180);
}
/* FIN VARIABLES GLOBALES */
body{
    font-family: "Open Sans";
    margin: unset;
    box-sizing: border-box;
    min-width: fit-content;

}
/* HEADER */
.header{
    font-family: monospace;
    height: 80px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
}
.header__name{
    margin-right: 10px;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}
.header__menu{
    margin-left: 10px;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header__menu__item{
	text-decoration: none;
	display: inline-block;
	padding: 16px;
    color: #f9f9f9;
    transition: 0.2s;
    cursor: pointer;
	/* font-size: 15px; */
}
.header__menu__item:hover{
    font-weight: bold;
    color: black;
    background-color: var(--theme-color);
}
/* DROPDOWN */
.header__menu__dropdown{
    position: relative;
    display: inline-block;
}

.header__menu__dropdown__parent{
    text-decoration: none;
	display: inline-block;
	padding: 16px;
    animation:theme_changer 4s infinite;
    animation:theme_changer 4s infinite;
    transition: 0.2s;
    cursor: pointer;
}
.header__menu__dropdown__parent:hover{
    font-weight: bold;
    color: black;
    background-color: var(--theme-color);
}
/* DROPDOWN CON CSS PURO HOVER (lo unico realizado con js es el click de los elementos de dentro)*/
.header__menu__dropdown__parent:hover + .header__menu__dropdown__options{
    display: block;
}
.header__menu__dropdown__options:hover{
    display: block;
}
/* FIN DROPDOWN CON CSS PURO HOVER */
.header__menu__dropdown__options{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 174px;
    overflow: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 1;
    cursor: pointer;
}
.header__menu__dropdown__options__option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--clean);
    padding: 12px 16px;
    text-decoration: none;
    background-color: var(--dark);
    cursor: pointer;
}
.header__menu__dropdown__options__option:hover{
    background-color: var(--theme-color);
    color: var(--dark);
    font-weight: bold;
}
.show {
    display: block;
}
.circle-theme{
    /* color: var(--theme-color) !important; */
    animation:theme_changer 4s infinite;
    animation:theme_changer 4s infinite;
}
@keyframes theme_changer {
    0% {color:rgb(204, 84, 84)}
    25% {color:rgb(196, 204, 84)}
    50% {color:rgb(84, 204, 84)}
    75% {color:rgb(84, 204, 198)}
    100% {color:rgb(204, 84, 84)}
}
.circle-red{
    color: rgb(204, 84, 84);
}
.circle-blue{
    color: rgb(84, 204, 198);
}
.circle-green{
    color: rgb(84, 204, 84);
}
.circle-yellow{
    color: rgb(196, 204, 84);
}
/* FIN DROPDOWN */

/* HOME */
.home{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position: 50% 100%;
    background: linear-gradient(180deg, #ffc0cb00 60%, #ffffff 40%),url(img/background1.jpg);
}
.home__card{
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;    
    margin-bottom: 100px;
    /* min-width: 800px; */
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 600px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.home__card__up{
    box-sizing: border-box;

    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: row;
}
.home__card__down{
    /* min-width: 800px; */
    height: 90px;
    background-color: var(--theme-color);
    width: 100%;
}
.home__card__up__left{
    overflow: hidden;
    width: 40%;
    height: 100%;
    display: flex;
    background-color: rgb(0, 0, 0);
}
.home__card__up__right{
    width: 60%;
    box-sizing: border-box;
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.home__card__up__left__img{
 width: 100%;
 object-fit: cover;
 transition: transform 0.5s ease-in-out; 

}
.home__card__up__left__img:hover{
    transform :scale(1.05);
}
.home__card__up__right__name{
    font-size: 30px;
}
.home__card__up__right__title{
    margin-left: 5px;
    margin-top: -32px;
    font-size: 16px;
    font-weight: 100;
}
.home__card__up__right__separador{
    box-sizing: border-box;
    width: 100%;
    border: 5px solid var(--theme-color);
    border-radius: 5px;
}
.home__card__up__right__desc{
    font-size: 15px;
}
.home__card__up__right__info{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.home__card__up__right__info__icono{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.home__card__up__right__info__icono span{
    margin-left: 10px;
}
.home__card__down{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home__card__down__icono{
    padding: 10px;
    color: white;
    font-size: 40px;
    border-radius: 10px;
    transition: transition, background-color 0.25s linear 0s;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}
.home__card__down__icono:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

/* SOBREMI */
.sobremi{
    box-sizing: border-box;
    width: 100%;
    /* height: 100vh; */
}

/* CONOCIMIENTOS */
.conocimientos{
    background-color: var(--theme-color);
    padding-top: 10px;
}
.conocimientos__header{
    display: flex;
    max-width: 100%;
    justify-content: center;
}
.conocimientos__header__title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    color: white;

}
.conocimientos__body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 30px 0px;
}
.conocimientos__body__logo{
    margin: 20px 90px 20px 90px;
    opacity: 0.8;
    width: 80px;
    filter: brightness(100%) drop-shadow(4px 4px 3px var(--theme-color-shadows));
    transition: 0.4s;
}
.conocimientos__body__logo--angularjs{
    width: 150px;
}

.conocimientos__body__logo:hover{
    opacity: 1;
    transform: scale(1.3);
}

/* EXPERIENCIA */
.exp-edu__experiencia{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 80%;
    background-color: white;
}
.exp-edu__experiencia__header{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    color: black;
}
.exp-edu__experiencia__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.exp-edu__experiencia__body__article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    margin: 20px;
    box-sizing: content-box;
    padding: 20px;
    border-radius: 25px;
    transition: 0.4s;
}
.exp-edu__experiencia__body__article:hover{

    cursor: pointer;
    background-color: var(--theme-color-clear);
} 

.exp-edu__experiencia__body__article__left{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.exp-edu__experiencia__body__article__center{
    /* width: 10%; */
    margin-right: 30px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    color: var(--theme-color);
}
.exp-edu__experiencia__body__article__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.exp-edu__experiencia__body__article__right p{
    margin: 0;
    padding: 0;
}

/* EDUCACION */
.exp-edu__educacion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 80%;
}
.exp-edu__educacion__header{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    color: black;
}
.exp-edu__educacion__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}
.exp-edu__educacion__body__article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
    margin: 20px;
    box-sizing: content-box;
    padding: 20px;
    border-radius: 25px;
    transition: 0.4s;
}
.exp-edu__educacion__body__article__left{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.exp-edu__educacion__body__article__center{
    margin-right: 30px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    color: var(--theme-color);
}
.exp-edu__educacion__body__article__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.exp-edu__educacion__body__article__right p{
    margin: 0;
    padding: 0;
}

.exp-edu__educacion__body__article:hover{
    cursor: pointer;
    background-color: var(--theme-color-clear);
} 
.exp-edu__educacion__header__text--small{
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.exp-edu__educacion__header__text--normal{
    margin-bottom: 0;
    padding-bottom: 0;
}
.exp-edu{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.exp-edu__separator{
    margin-top: 50px;
    border-radius: 5px;
    border:none;
    border-left:5px solid var(--theme-color);
    height:75%;
    width:1px; 
}
/* CONTACT */
.contact{
    background-color: var(--theme-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-blend-mode: multiply;
    background-color: var(--dark);
    padding-top: 20px;
    /* background-image: url(img/background_icon.png); */
}
.contacto__titulo{
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
    font-size: 60px;
    color: var(--theme-color);
}
.contact__form{
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;
    background-blend-mode: multiply;
    background-image: url(img/background_icon.png);
    background-size: 50px;
    background-color: var(--dark);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
}
.contact__form__form{
    display: flex;
    flex-direction: column;
}
.contact__form__form__group{
    position: relative;
    padding: 20px 0;
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}
.contact__form__form__group label{
    font-weight: bolder;
    color: var(--clean);
    transition: 0.4s;
}
.contact__form__form__group input,.contact__form__form__group textarea {
    width: 100%;
    font-size: 16px;
    padding: 7px 0;
    background-color: transparent;
    border: 0;
    margin-top: 10px;
    border-bottom: 3px solid var(--clean);
    color: var(--clean);
    transition: 0.4s;
}
.contact__form__form__group__button{
    background-color: var(--theme-color-hover);
    border: 2px solid var(--theme-color-dark);
    border-radius: 2px;
    color: var(--dark);
    font-weight: bolder;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 0;
    margin-top: 15px;
    width: 100%;
    text-transform: uppercase;
    transition: 0.3s;
}
:focus{
    outline: none;
}
.contact__form__form__group input:focus,.contact__form__form__group textarea:focus {
    border-bottom: 3px solid var(--theme-color);
}
.contact__form__form__group input:focus ~ label{
    color: var(--theme-color);
}
.contact__form__form__group textarea:focus ~ label{
    color: var(--theme-color);
}
.contact__form__form__group__button:hover{
    transition: 0.3s;
    font-size: 25px;
    background-color: var(--theme-color);
}

.footer{
    background-color: var(--theme-color);
    height: 50px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__text--copy{
    color: var(--dark);
}
.footer__text--name{
    text-decoration: none;
    color: var(--dark);
    transition: 0.4s;
}
.footer__text--name:hover{
    
    font-size: 20px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--dark); 
    background-color: var(--dark);
    /* border-radius: 5px; */
}
::-webkit-scrollbar-thumb {
    background: var(--theme-color); 
    /* border-radius: 10px; */
}
::-webkit-scrollbar-thumb:hover {
    background: var(--theme-color);    
}